<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.0.0-alpha.15/js/onsenui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.0.0-alpha.15/js/angular-onsenui.min.js"></script>
<script>
 var app = ons.bootstrap();
 app.controller('page1',function($scope){
   $scope.updateStatus = function(i,s){
     alert(s+i);
     $scope.carousel[i].prev();
   }
 });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.0.0-alpha.15/css/onsenui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.0.0-alpha.15/css/onsen-css-components.min.css" />
<link rel="stylesheet" href="style.css" />
</head>
<body>
<ons-navigator var="myNavigator">
  <ons-page ng-controller="page1">
    <ons-toolbar>
      <div class="center">Carousel with List</div>
    </ons-toolbar>

    <p style="text-align: center; color: #999; font-size: 14px;">Swipe left to draw action menu.</p>

    <ons-list>
      <ons-list-item class="list-item" ng-repeat="a in [1,2,3]">
        <ons-carousel swipeable style="height: 72px; width: 100%;" initial-index="1" auto-scroll var="carousel.{{$index}}">
          <ons-carousel-item class="list-action-item">
            <ons-row>
              <ons-col width="52px" style="padding: 10px 0 0 0;">
                <div style="width: 42px; height: 42px; background-color: #ccc; border-radius: 6px;"></div>
              </ons-col>
              <ons-col>
                <div class="name">
                  Lorem ipsum
                </div>
                <div class="desc">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </ons-col>
            </ons-row>
          </ons-carousel-item>
          <ons-carousel-item class="list-action-menu">
            <ons-button modifier="light" ng-click="updateStatus($index,'未対応')">未対応</ons-button>
            <ons-button modifier="light" ng-click="updateStatus($index,'対応中')">対応中</ons-button>
            <ons-button modifier="light" ng-click="updateStatus($index,'対応済')">対応済</ons-button>
          </ons-carousel-item>
        </ons-carousel>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-navigator>
</body>
</html>
